*.o
*.log
*.log2
*.lck
*.html
*.htm
*.list
bin/*
lib/*
tmp/*
tags
stderr
cscope.*
src/demo/html/html_test
src/demo/log/log_test
src/demo/tcp/connect
src/demo/list/list
src/demo/redis/redis_test
src/demo/gumbo/gumbo_get_title
